.main {
  height: 100%;
  width: calc(50% - 10px);
  position: relative;
  overflow: hidden;
  text-align: center;

  .image {
    height: 100%;
    width: 100%;
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }

  margin-bottom: 10px;

  &:nth-child(odd) {
    margin-right: 10px;
  }

  &:nth-child(even) {
    margin-left: 10px;
  }
}

.item-choose {
  margin-left: 10px;
}
